.pickup {
    &__information {
        display: flex;
        justify-content: space-between;
        border: 1px solid #D8E1EA;
        border-radius: 4px;
    }
    &__title {
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    &__form {
        padding: 24px;
    }


    &__text {
        margin-top: 16px;
    }
    &__textarea {
        max-width: 1220px;
        padding: 17px 16px;
        width: 100%;
        background-color: #E8EFF5;
        outline: none;
        border-radius: 4px;
        resize: none;
    }
    &__input {
        margin-top: 16px;
        &:first-of-type {
            margin-top: 0px;
        }
        &_label {
            padding-left: 8px;
        }
    }
}