.navbar__top {
    display: flex;
    a {
        padding-right: 24px;
      }
      a:last-child {
        padding-right: 0;
      }
  }
  
.imginterface  {
  padding-right: 24px;
  svg {
    cursor: pointer;
      &:hover {
        fill: #0E192E;
        opacity: 0.8;
      }
  }
 
}

.btn__search {
  padding: 11px 24px;
  font-weight: 800;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #fff;
  cursor: pointer;
  &:hover {
    background: rgba(14, 25, 46, 0.1);

  }
}

.catalogitem {
  background-color: #fff;
  border-radius: 4px;
  max-width: 174px;
  padding: 16px 24px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
  cursor: pointer;
  &__active {
    border: 2px solid #2A79CC;
  }
}

.catalogtext {
  font-weight: bold;
  &__active {
    color: #2A79CC;
  }
  
}

.imgfilter {
  max-width: 18px;
}