.pricelist {
    &__information {
        background-color: #E8EFF5;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 160px;
    }
    &__text {
        padding: 60px;
    }

    &__article {
        font-size: 48px;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
    }

    &__button {
        padding: 18px 32px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        background: #2A79CC;
border-radius: 4px;


    }

}