body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Onest";
  src: url("../public/assets/fonts/OnestRegular1602-hint.woff");
  font-weight: 400;
}


.ff-onest {
  font-family: "Onest";
}

.bg-color-header {
  background: rgb(232, 239, 245)
}

.navbar__top {
  display: flex;
}

.navbar__top a {
  padding-right: 24px;
}

.navbar__top a:last-child {
  padding-right: 0;
}